<div class="container">
    <div class="list">
        <div class="text">
            <div class="uxfinity">{{uxfinity}}<span class="finity">{{span}}</span></div>
        </div>
        <div class="list-items">
            <a href=""><span>{{item1}}</span></a>
            <a href=""><span>{{item2}}</span></a>
            <a href=""><span>{{item3}}</span></a>
            <a href=""><span>{{item4}}</span></a>
        </div>
    </div>
    <div class="social">
        <img src="../../assets/img/twitter.svg" alt="twitter">
        <img src="../../assets/img/linkedin.svg" alt="linkedin">
        <img src="../../assets/img/facebook.svg" alt="facebook">
    </div>
    <div class="linea-divisoria"></div>
    <div class="footer-text">
        <div class="terms">
            <a href=""><span>{{terms1}}</span></a>
            <a href=""><span>{{terms2}}</span></a>
        </div>
        <div class="copyright">{{copyright}}</div>
    </div>
</div>

