<div class="container">
    <div class="container-text">
        <div class="container-two">
            <div class="container-title">
                <h2 class="title">{{title}}</h2>
                <h2 class="title2">{{title2}}</h2>
                <h2 class="title3">{{title3}}</h2>
            </div>
            <div class="text">
                <div class="text-one">
                    {{content}}
                </div>
                <div class="text-two">
                    <span class="text2">{{content1}}</span>
                    <!-- agregar a img el evento cuando  tenga la ruta a la  cual ir: (click)="irAAlgunaRuta()" -->
                    <img class="arrow" src="../../assets/img/iconoir_arrow-up.svg" alt="arrow">
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor adicional a la derecha con la animación de spline -->
    <div class="container-right">
        <iframe class="img-header" src='https://my.spline.design/cubic-e273dd5e0690e484566c7214c4a89bad/'
            frameborder='0' width="100%" height="100%"> </iframe>
    </div>
</div>
