<div class="container">
    <div class="container-meeting">
        <div class="container-text">
            <h2 class="title">{{title}}</h2>
            <p class="text">{{text}}</p>
        </div>
        <div class="calendar">
            <!-- Calendly inline widget begin --> 
            <div class="calendly-inline-widget" 
            data-url="https://calendly.com/info-oqk/meeting-with-our-team" 
            style="min-width:320px;height:700px;">
        </div> 

        </div>
    </div>
</div>